<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- basic -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- mobile metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
		<!-- site metas -->
		<title>Jack Blogger</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!-- bootstrap css -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<!-- style css -->
		<link rel="stylesheet" href="/css/style.css" />
		<!-- Responsive-->
		<link rel="stylesheet" href="/css/responsive.css" />
		<!-- fevicon -->
		<link rel="icon" href="/images/fevicon.png" type="image/gif" />
		<!-- Scrollbar Custom CSS -->
		<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
		<!-- Tweaks for older IEs-->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
		><![endif]-->
	</head>
	<!-- body -->
	<body class="main-layout">
		<!-- loader  -->
		<div class="loader_bg">
			<div class="loader"><img src="/images/loading.gif" alt="" /></div>
		</div>
		<!-- end loader -->
		<!-- header -->
		<%- include("partials/header", { pageName: "register" }) %>
		<!-- end header -->
		<!-- revolution slider -->

		<div class="container">
			<div class="row centered-form">
				<div class="panel panel-default m-5">
					<div class="panel-heading">
						<h3 class="panel-title">Please sign up to comment</h3>
					</div>
					<div class="panel-body">
						<form
							id="reg-form"
							role="form"
							action="/register"
							method="POST"
						>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input
											type="text"
											name="first_name"
											id="first_name"
											class="form-control input-sm"
											placeholder="First Name"
											required
										/>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input
											type="text"
											name="last_name"
											id="last_name"
											class="form-control input-sm"
											placeholder="Last Name"
											required
										/>
									</div>
								</div>
							</div>

							<div class="form-group">
								<input
									type="email"
									name="email"
									id="email"
									class="form-control input-sm"
									placeholder="Email Address"
									required
								/>
							</div>

							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input
											type="password"
											name="password"
											id="password"
											class="form-control input-sm"
											placeholder="Password"
											required
										/>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input
											type="password"
											id="password_confirmation"
											class="form-control input-sm"
											placeholder="Confirm Password"
											required
										/>
									</div>
								</div>
							</div>

							<input
								type="submit"
								id="submitBtn"
								value="Register"
								class="btn btn-info btn-block"
							/>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- end section -->
		<!-- footer -->
		<%- include("partials/footer") %>
		<!-- end footer -->
		<%- include("partials/scripts") %>

		<!-- <script>
			document.querySelector("#submitBtn").addEventListener("click", (e) => {
				e.preventDefault();
				let pass = document.querySelector("#password_confirmation")
					.value;
				let repass = document.querySelector("#password").value;
				if (pass !== repass) alert("password not matched");
				else document.querySelector("#reg-form").submit();
			});
		</script> -->
		<script>
			document
				.querySelector("#submitBtn")
				.addEventListener("click", (e) => {
					e.preventDefault();
					const pass = document.querySelector("#password").value;
					const repass = document.querySelector(
						"#password_confirmation"
					).value;
					if (pass !== repass) {
						alert("password dose not match the re password");
					} else {
						document.querySelector("#reg-form").submit();
					}
				});
		</script>
	</body>
</html>
