* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	text-align: center;
}

.active {
	background-color: blueviolet;
}

.navbar {
	display: flex;
	flex-flow: row;
	justify-content: left;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	flex-flow: row;
	justify-content: baseline;
	align-items: flex-start;
}

ul li {
	margin: 8px;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.details {
	margin: 10px 0 0 10px;
	display: flex;
	flex-flow: row;
	float: right;
}
.details p {
	margin: 0 5px;
}
