#data-sheet {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#data-sheet td,
#data-sheet th {
	border: 1px solid #ddd;
	padding: 8px;
}

#data-sheet tr:hover {
	background-color: rgb(128, 107, 138);
	cursor: pointer;
}

#data-sheet th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #006caa;
	color: white;
}
